@inject ModuleService _Service
@page "/admin"

<div class="card" style="max-width: 25rem">

    <div class="card-body">
        <h3 class="card-title">Admin Authorization</h3>

        <AuthorizeView>

            <Authorized>
                <LogoutAdminUser />
            </Authorized>

            <NotAuthorized>
                <EnterAdminPassword />
            </NotAuthorized>

        </AuthorizeView>
    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await _Service.GetAll();
    }
}
