@page "/admin"

<h3>Admin Portal</h3>

<AuthorizeView>
    <Authorized>
        <LogoutAdminUser />
    </Authorized>
    <NotAuthorized>
        <EnterAdminPassword />
    </NotAuthorized>
</AuthorizeView>

@code {

}
