@page "/"

    <AuthorizeView>

        <NotAuthorized>
            <h3>Public View</h3>
        </NotAuthorized>

        <Authorized>
            <h3>Admin View</h3>
        </Authorized>

    </AuthorizeView>

    <TempExperience />
        
