@inject ModuleService _Service
@page "/"

@if (Modules == null)
{
    <div>Loading...</div>
}
else
{
    <AuthorizeView>

        <NotAuthorized>
            <h3>Public View</h3>
        </NotAuthorized>

        <Authorized>
            <h3>Admin View</h3>
        </Authorized>

    </AuthorizeView>

    @foreach (var model in Modules)
    {
        <PageModule Model="model" />
    }
}

@code {

    private List<PageModuleModel> Modules;

    protected override async Task OnInitializedAsync()
    {
        Modules = await _Service.GetAll();
    }

}

