@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

a {
    color: black;
}

.animated-icon span {
    background-color: #121212;
}

.custom-topBar {
    background-color: white;
}

.form-control:focus {
    border-color: black;
}