@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --custom-white: rgba(248, 249, 250, 1);
    --custom-gray: rgba(189, 193, 198, 1);
    --custom-darkgray: rgba(30, 30, 31, 1);
}

a {
    color: #121212;
}

.animated-icon span {
    background-color: #121212;
}

.custom-topBar {
    background-color: var(--custom-white);
}

.custom-slideTray {
    background-color: var(--custom-white);
}

.form-control:focus {
    border-color: #121212;
}