
@inject HttpClient _Http
@inject NavigationManager _NavigationManager

    <EditForm Model="@Auth" OnValidSubmit="Submit">
        <DataAnnotationsValidator />

        <div><label for="password">@Helper.DisplayNameFor(typeof(AuthModel), "Code")</label></div>

        <div>
            <InputText class="form-control form-control-sm" style="max-width: 190px;" type="password" id="password" @bind-Value="Auth.Code" @onkeydown="ClearMessages" />
            <AlertText Text=@ErrorMessage />
            <AlertText Class="warning" Text="@StatusMessage" />
        </div>

        <div class="py-1"><button class="btn btn-outline-dark btn-sm" type="submit">Login</button></div>

    </EditForm>

@code {

    private AuthModel Auth = new AuthModel();
    string ErrorMessage;
    string StatusMessage;

    private async Task Submit()
    {
        StatusMessage = "Verifying...";
        try
        {
            var checkURL = _NavigationManager.ToAbsoluteUri("/api/Auth/CheckPassword");

            var result = await _Http.PostAsJsonAsync(checkURL, Auth);
            var response = await result.Content.ReadAsStringAsync();

            StatusMessage = string.Empty;

            if (result.IsSuccessStatusCode)
            {
                _NavigationManager.NavigateTo($"/login?code={Auth.Code.UrlEncode()}", true);
            }
            else
            {
                ErrorMessage = response;
            }
        }
        catch(Exception ex)
        {
            StatusMessage = string.Empty;
            ErrorMessage = ex.Message;
        }
    }

    private void ClearMessages()
    {
        StatusMessage = string.Empty;
        ErrorMessage = string.Empty;
    }

}