<EditForm Model="@password" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div><label for="password">@Helper.DisplayNameFor(typeof(PasswordField), "Password")</label></div>

    <div><InputText id="password" @bind-Value="password.Password" /></div>

    <div class="py-1"><button type="submit">Next</button></div>
</EditForm>

@code {
    private PasswordField password = new PasswordField();

    private void Submit()
    {
        Console.WriteLine("Submit");
    }
}