
@inject HttpClient _Http
@inject NavigationManager _NavigationManager

    <EditForm Model="@adminModel" OnValidSubmit="Submit">
        <div><label for="password">@Helper.DisplayNameFor(typeof(AdminModel), "Password")</label></div>

        <div><InputText type="password" id="password" @bind-Value="adminModel.Password" @onkeydown="ClearErrorMessage"/></div>

        <div class="py-1"><button type="submit">Login</button></div>

        <AlertText Error=@ErrorMessage />
    </EditForm>

@code {

    private AdminModel adminModel = new AdminModel();
    string ErrorMessage;

    private async Task Submit()
    {
        var checkURL = _NavigationManager.ToAbsoluteUri("/api/Admin/CheckPassword");

        var result = await _Http.PostAsJsonAsync(checkURL, adminModel);
        var response = await result.Content.ReadAsStringAsync();

        if (result.StatusCode == System.Net.HttpStatusCode.OK)
        {
            _NavigationManager.NavigateTo($"/login?password={adminModel.Password.UrlEncode()}", true);
        }
        else
        {
            ErrorMessage = response;
        }
    }

    private void ClearErrorMessage()
    {
        ErrorMessage = string.Empty;
    }

}