
@inject NavigationManager _NavigationManager
@inject HttpClient _Http
@inject IHttpContextAccessor httpContextAccessor

<EditForm Model="@adminModel" OnValidSubmit="Submit">

    <div><label for="password">@Helper.DisplayNameFor(typeof(AdminModel), "Password")</label></div>

    <div><InputText type="password" id="password" @bind-Value="adminModel.Password" /></div>

    <div class="py-1"><button type="submit">Next</button></div>

    <AlertText Error=@ErrorMessage />
    <DataAnnotationsValidator />
    <ValidationSummary />

</EditForm>

@code {
    private AdminModel adminModel = new AdminModel();
    string ErrorMessage;

    private async Task Submit()
    {



        var url = _NavigationManager.ToAbsoluteUri("/api/Admin/Login");

        var result = await _Http.PostAsJsonAsync(url, adminModel);
        var response = await result.Content.ReadAsStringAsync();

        var x = httpContextAccessor.HttpContext.Request.Cookies[".AspNetCore.Cookies"];

        if (result.StatusCode == System.Net.HttpStatusCode.OK)
        {
            _NavigationManager.NavigateTo(response);
        }
        else
        {
            ErrorMessage = response;
        }
    }
}