
@inject HttpClient _Http
@inject NavigationManager _NavigationManager

    <EditForm Model="@adminModel" OnValidSubmit="Submit">
        <DataAnnotationsValidator />

        <div><label for="password">@Helper.DisplayNameFor(typeof(AdminModel), "Password")</label></div>

        <div>
            <InputText class="form-control form-control-sm" style="max-width: 190px;" type="password" id="password" placeholder="Password" @bind-Value="adminModel.Password" @onkeydown="ClearErrorMessage" />
            <AlertText Text=@ErrorMessage />
        </div>

        <div class="py-1"><button class="btn btn-outline-dark btn-sm" type="submit">Login</button></div>

    </EditForm>

@code {

    private AdminModel adminModel = new AdminModel();
    string ErrorMessage;

    private async Task Submit()
    {
        try
        {
            var checkURL = _NavigationManager.ToAbsoluteUri("/api/Admin/CheckPassword");

            var result = await _Http.PostAsJsonAsync(checkURL, adminModel);
            var response = await result.Content.ReadAsStringAsync();

            if (result.IsSuccessStatusCode)
            {
                _NavigationManager.NavigateTo($"/login?password={adminModel.Password.UrlEncode()}", true);
            }
            else
            {
                ErrorMessage = response;
            }
        }
        catch(Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }

    private void ClearErrorMessage()
    {
        ErrorMessage = string.Empty;
    }

}