
@inject NavigationManager _NavigationManager
@inject HttpClient _Http
@inject IHttpContextAccessor httpContextAccessor

<EditForm OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="py-1"><button type="submit">Logout</button></div>
    <AlertText Error=@ErrorMessage />
</EditForm>

@code {

    string ErrorMessage;

    private async Task Submit()
    {
        var url = _NavigationManager.ToAbsoluteUri("/api/Admin/Logout");

        var result = await _Http.GetAsync(url);
        var response = await result.Content.ReadAsStringAsync();

        if (result.StatusCode == System.Net.HttpStatusCode.OK)
        {
            _NavigationManager.NavigateTo(response);
        }
        else
        {
            ErrorMessage = response;
        }
    }
}