
@inject NavigationManager _NavigationManager

<div class="py-1"><button @onclick="Submit">Logout</button></div>
<AlertText Error=@ErrorMessage />

@code {

    string ErrorMessage;

    private void Submit()
    {
        _NavigationManager.NavigateTo("/logout", true);
    }

}