
@inject NavigationManager _NavigationManager

    <div class="py-1">
        <button class="btn btn-outline-dark btn-sm" @onclick="Submit">Logout</button>
        <AlertText Error=@ErrorMessage />
    </div>

@code {

    string ErrorMessage;

    private void Submit()
    {
        _NavigationManager.NavigateTo("/logout", true);
    }

}