@inherits LayoutComponentBase

    <div class="main">

        <NameAndTitle />

        <div class="d-inline content sticky-top float-right">
            <NavMenu />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
