@inherits LayoutComponentBase

    <div class="main">

        <div class="fixed-top custom-topBar">
            <NameAndTitle />
            <div class="d-inline content float-right">
                <NavMenu />
            </div>
        </div>

        <div class="px-4 custom-body">
            @Body
        </div>
    </div>
