<div class="container">
    <h1 class="code-bold">Pietr Langevoort</h1>
    <h3 class="code-bold" style="margin-top: -19px">Game Developer</h3>
    <h4 class="code-bold" style="margin-top: -15px">&amp; Software Generalist</h4>
</div>

@code {

}
