@inject IJSRuntime _JSRuntime

    <div class="navbar-light custom-nav">

        <div class="animated-icon @NavOpen" @onclick="ToggleNavMenu">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="@NavCollapse rounded-bottom custom-topBar position-fixed mt-3" style="right:0;z-index:1" @onclick="ToggleNavMenu">
            <ul class="nav flex-column">

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-briefcase" aria-hidden="true"></span> Experience
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-book" aria-hidden="true"></span> Education
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-bolt" aria-hidden="true"></span> Portfolio 1
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-bolt" aria-hidden="true"></span> Portfolio 2
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="admin">
                        <span class="oi oi-browser" aria-hidden="true"></span> Admin
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="ToggleDarkMode">
                        <span class="oi oi-contrast" aria-hidden="true"></span>@NavTheme
                    </NavLink>
                </li>

            </ul>
        </div>
    </div>

@code {
    private bool isClosed = true;

    private string NavCollapse => isClosed ? "collapse" : null;

    private string NavOpen => isClosed ? null : "open";

    private string darkMode;

    private string NavTheme => (darkMode ?? "disbaled").Equals("disabled") ? " Dark Mode" : " Light Mode";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        darkMode = await _JSRuntime.InvokeAsync<string>("darkMode.status", null);
    }

    private void ToggleNavMenu()
    {
        isClosed = !isClosed;
    }

    private async Task ToggleDarkMode()
    {
        await _JSRuntime.InvokeVoidAsync("darkMode.toggle");
    }
}
