@using Personal_Website.Data.Services
@inject ModuleService _Service

<div class="content">
    <div class="card" style="max-width: 90rem">

        <div class="card-body">
            <h3 class="card-title">Temp Bio</h3>
            <AuthorizeView>
                <NotAuthorized>
                    <p class="card-text">@cardText</p>
                </NotAuthorized>
                <Authorized>
                    <textarea type="text" class="form-control" style="height:auto" @bind="@cardText"/>
                    <button type="submit" class="btn btn-outline-dark btn-sm" @onclick="Save">Save</button>
                </Authorized>
            </AuthorizeView>
        </div>

    </div>
</div>

@code {
    static string cardTextStart = "Welcome. I am Pietr Langevoort, a Systems Programmer at PVA. I started my career in Rochester, NY at RIT where I completed my degree in Game Design and Development. In the final stretch at RIT I landed a Game Engineering Internship with ISOTX. My programming experience with C# and Unity 3D greatly improved while working there. Over time, what I learned combined with my knowledge of their games systems helped me to fill a critical role in the development of their game March of War: Face Off. Upon completion of my degree I was offered a full-time position with the company. I accepted and moved back home to NY where I worked remotely. Shortly after, ISOTX dissolved and was lost due to sales. I stayed with the company as long as I could and really enjoyed working there. After that I decided to branch out and look at many different programming jobs and was hired at PVA. PVA is located right in my home town of Cohoes, NY. They manufacture customized automation machinery for other manufacturing industries. The primary capability of these machines being precision liquid coating. It's an exciting sci-fi adventure for my inner geek to now work on robots for a living. There is nothing quite like being able to see your code work in physical action. Robotics has definitely brought a new perspective to how I program and engineer systems.";

    string cardText = cardTextStart;

    PageModuleModel tempExperience = new PageModuleModel()
    {
        Title = "Temp Bio",
        Summary = cardTextStart
    };

    private async void Save()
    {
        await _Service.Insert(tempExperience);
    }

}
