
@if (string.IsNullOrWhiteSpace(Model.Title) == false)
{
    <span class="h3 align-middle card-title">@((MarkupString)Model.Title)</span>
}

@code {
    [Parameter]
    public PageModuleModel Model { get; set; }
}
